<ion-header>
  <ion-toolbar>
    <ion-title>cashier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <div id="printable-area">
      <div class="detail-table">
        <table *ngIf="order.length > 0">
          <tr>
            <td>
              <label> Product Name</label>
            </td>
            <td>
              <label> Quantity</label>
            </td>

            <td>
              <label> price per pcs</label>
            </td>

            <td>
              <label> Total Price </label>
            </td>
          </tr>
          <tr *ngFor="let item of order; index as pos">
            <td>
              <label> {{item.productDetailName}} </label>
            </td>
            <td>
              <label> {{item.quantity}}</label>
            </td>

            <td>
              <label> {{item.price}}</label>
            </td>

            <td>
              <label> {{item.total}} </label>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-label>Quantity: </ion-label>
    <ion-input required type="number" placeholder="Quantity" [(ngModel)]="quantity"></ion-input>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addProductOrder()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="generateRecipe()">
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>