
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-button shape="round" size="small" color="primary" (click)="logout()">Logout</ion-button>
    <h2>Welcome {{loginInfo.username}}</h2>
    <h3>Role: {{loginInfo.role}}</h3>


<ion-button shape="round" size="full" color="primary" href="addCategory">Add Category</ion-button>
<ion-button shape="round" size="full" color="primary" href="addProduct">Add Product</ion-button>
<ion-button shape="round" size="full" color="primary" href="addProductDetail">Add Product Detail</ion-button>
<ion-button shape="round" size="full" color="primary" href="updatestock">Update Stock</ion-button>
<ion-button shape="round" size="full" color="primary" href="cashier">Cashier</ion-button>
<ion-button shape="round" size="full" color="primary" href="requestproduct">Request Product</ion-button>
<ion-button shape="round" size="full" color="primary" href="requestproductlist">Request Product List</ion-button>
<ion-button shape="round" size="full" color="primary" href="pdfmakerbeta">PDF Maker Beta</ion-button>
<!-- <ion-button shape="round" size="full" color="primary" href="imageupload">Image Upload</ion-button>
<ion-button shape="round" size="full" color="primary" href="qrcode">QR code</ion-button>
<ion-button shape="round" size="full" color="primary" href="uploadimagebeta">uploadimagebeta</ion-button>
<ion-button shape="round" size="full" color="primary" href="downloadimagebeta">downloadimagebeta</ion-button> -->

</ion-content>
